@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');


/*html {
    background:url('./landing_background.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing {
  background:white;
  background-size: cover;
  
}


form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  margin: 3px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}
*/

div {
  width: 100%;
  text-align: center;
} 



li{
  font-size:1.2rem;
  line-height: 2rem;
  border-bottom: 1px dotted #777;
}

button {
  background-color: #519e8a;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2em;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

button:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}

ul {
  background-color: #519e8a;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2em;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}


input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

input.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}



/* Global Wrapper CSS */
.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
}

/* Global Modal Code */
 .modalButton {
    width: 25%;
 }

 .modalInput {
   width: 25%;
 }


 /*Global Slider Code */
 .slider {
  overflow: auto;
  white-space: nowrap;
}

.listing {
  width: 128px;
  height: auto;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding: .2em;
  
}