@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.outer {
    /* credit to Sharon McCutcheon and unsplash.com for the photo */
    background:url('./landing_background.jpg');
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:0 20px;
}
.inner {
    max-width: 500px;
    margin-left: 150px;
    text-align: center;
}
.inner h1 {
    color: #111;
    font-family: 'Oswald';
    font-size: 70px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: center;
    margin-top: -20px;
}
.inner h2 {
  color: #111;
  font-family: 'Oswald';
  font-size: 70px;
  letter-spacing: 1px;
  line-height: 1;
  text-align: center;
}
li{
  font-size:1.2rem;
  line-height: 2rem;
  border-bottom: 1px dotted #777;
}
ul{
  margin-bottom: 50px;
}
.btn {
    border-radius: 18px;
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-size: 100%;
    padding: 15px 20px;
    border: solid #000 2px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}
.btn2 {
    border-radius: 18px;
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-size: 100%;
    padding: 15px 20px;
    border: solid #000 2px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    margin-left: 5px;
}
.btn3 {
  border-radius: 18px;
  font-family: 'Raleway', sans-serif;
  color: #000;
  font-size: 100%;
  padding: 15px 20px;
  border: solid #000 2px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  margin-left: 5px;
}
.btn:hover {
    color: #000;
    border: #fff 3px;
}
.btn2:hover {
    color: #000;
    border: #fff 3px;
}
.btn3:hover {
    color: #000;
    border: #fff 3px;
}