
  .email,
  .password {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: center;
  }

  .email,
  .password {
    width: 100%;
  }
  
  .createAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
