
.slider {
    overflow: auto;
    white-space: nowrap;
}

.listing {
    width: 128px;
    height: auto;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    padding: .2em;
    
}