div {
  font-size: large;
}
  
  .deleteAccount button {
    background-color: red;
    color: #fff;
    border: 2px solid red;
  }
  
  .deleteAccount button:hover {
    color: red;
    background-color: #fff;
    border: 2px solid red;
  }

  .picButton {
    width: auto;
    padding: .5em;
  }

  .gearButton {
    width: auto;
    margin-left: 1em;
    border-radius: 0;
    padding: .5em;
  }

  #profileImage {
    padding-top: 10px;
  }