div {
  font-size: large;
}

figure {
    width:150px;
    height:150px;
    border-radius:50%;
    overflow:hidden;
    margin: auto;
}

.wrapper {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
  .deleteAccount button {
    background-color: red;
    color: #fff;
    border: 2px solid red;
  }
  
  .deleteAccount button:hover {
    color: red;
    background-color: #fff;
    border: 2px solid red;
  }

  .picButton {
    width: auto;
    padding: .5em;
  }

  .gearButton {
    width: auto;
    margin-left: 1em;
    border-radius: 0;
    padding: .5em;
  }

  #profileImage {
    
  }