
label {
  display: block;
}



.bookImg {
  grid-area: bookImg;
  margin: auto;
}

.bookNeed {
  grid-area: topButton;
  margin: .5em;
}

.bookHave {
  grid-area: botButton;
  margin: .5em;
}

.container {
  width: 50%;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1em;
  padding: 1em;
  background-color: grey;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "bookImg  topButton"
    "bookImg  botButton";
}

