
label {
  display: block;
}

.modalHeader {
  grid-area: header;
}

.tradeIt {
  grid-area: topButton;
}

.sellIt {
  grid-area: midButton;
}

.donateIt {
  grid-area: botButton;
}

.bookImg {
  grid-area: bookImg;
  margin: auto;
  width: 128px;
  height: auto;
}

.bookNeed {
  grid-area: topButton;
  margin: .5em;
}

.bookHave {
  grid-area: botButton;
  margin: .5em;
}

.container {
  width: 50%;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1em;
  padding: 1em;
  background-color: grey;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px 100px;
  grid-template-areas: 
    "bookImg  topButton"
    "bookImg  botButton";
}

.modalContainer {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "header   header" 
    "bookImg  topButton"
    "bookImg  midButton"
    "bookImg  botButton";
}


