body{
    background: #333;

    margin: 0;

    padding: 0;

    font-family: "Montserrat", sans-serif;
}

.container{
    width: 360px;
    height: 600px;
    background:url('./landing_background.jpg') no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.container h1{
    font: 40px;
    margin-top: 125px;
    margin-bottom: 60px;
}

.tbox{
    width: 260px;
    height: 40px;
    background: #f1f1f1b3;
    border-radius: 10px;
    margin: 14px auto;
    background: #f1f1f1;
    border-radius: 10px;
    margin: 14px auto;
}

.tbox input{
    background: none;
    border: none;
    outline: none;
    text-align: center;
    width: 90%;
    line-height: 37px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #333;
}

.btn{
    width: 260px;
    height: 40px;
    background: #3498db;
    border-radius: 10px;
    margin: 14px auto;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    border: none;
    color: white;
    cursor: pointer;
}

.b1{
    display: block;
    width: 260px;
    padding: 10px 0;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: auto;
    transition: 0.4s all;
}


.b2{
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
    padding: 10px 0;
    text-decoration: none;
    text-align: center;
    transition: 0.4s all;
    color: #0d7fac79;
}

a.hover{
    background: #00000040;
}


